---
layout: default
---

<!-- BLOG -->
<section id="blog" class="{% cycle '', 'bg-light-gray' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    Recent Blog Posts
                </h2>
            </div>
        </div>
    </div>
    {% for post in site.medium_posts limit: 5 %}
        <div class="container">
            <div class="row">
                <h4>
                    {{post.title}}
                </h4>
            </div>
            <p>
                {{ post.feed_content | strip_html | truncatewords: 65 }}
                <a href={{ post.medium_link }}>Read more on Medium</a>
            </p>
        </div>
    {% endfor %}
</section>

<!-- RESEARCH -->
<section id="research" class="{% cycle '', 'bg-light-gray' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    Research Interests
                </h2>
                <h3 class="section-subheading text-muted">
                    I combine data (statistics) and theory (physics) to manage the risk of floods, droughts, and other extreme events in a changing climate.
                </h3>
            </div>
        </div>
    </div>
    {% for topic in site.data.research %}
        <div class="container">
            <div class="row research-topic">
                <div class="col-md-4">
                    <img src="img/research/{{ topic.pic }}" class="img-responsive" alt="">
                </div>
                <div class="col-lg-8">
                    <h4>
                        {{ topic.name }}
                    </h4>
                    <p class="text-muted">
                        {{ topic.description }}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
    
<!--- PUBLICATIONS -->
<section id="publications" class="{% cycle '', 'bg-light-gray' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    Publications
                </h2>
                <div>
                    <a href="https://scholar.google.com/citations?user=6ifLBBsAAAAJ&hl=en">Google Scholar Profile</a>
                    &middot
                    <a href="http://orcid.org/0000-0002-3428-2224">OrcID Profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>
                    In Press / Published
                </h3>
                {% bibliography --query @article %}
            </div>
            <div class="col-lg-12">
                <h3>
                    Under Review
                </h3>
                {% bibliography --query @unpublished %}
            </div>
            <div class="col-lg-12">
                <h3>
                    Other
                </h3>
                For a complete list of workshop and conference presentations, please see <a href=/cv/>my CV</a>
            </div>
        </div>
    </div>
</section>