  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-left">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2018</span>
                </div>
                <div class="col-md-4 text-center">
                    </div>
                <div class="col-md-4 text-right">
                        <a href="http://ldeo.columbia.edu"><img src="{{ site.baseurl }}/img/water_blue_reverse.png"></a>
                </div>
            </div>
        </div>
    </footer>
