  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-left">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2018</span>
                </div>
                <div class="col-md-4 text-center">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md4 text-right">
                    <span class="copyright">
                        <a href="https://github.com/jdossgollin/jdossgollin.github.io">
                            View source code
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </footer>
