  <footer class="">
        <div class="container">
                <div class="row">
                    <div class="col-md-4 text-left">
                        Copyright &copy; {{ site.title }} 2018
                    </div>
                    <div class="col-md-4 text-center">
                        <ul class="list-inline social-buttons">
                            {% for network in site.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md4 text-left">
                            Want to support a hungry student?<br>
                            <a href="https://www.buymeacoffee.com/jdossgollin">
                                Buy me a coffee
                            </a>
                        </div>
                </div>
            </div>
    </footer>
