    
<section id="links" class="{% cycle '', 'bg-light-gray' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    Useful Links
                </h2>
            </div>
        </div>
        <div class="row">
            {% for link in site.data.links %}
                <div class="col-md-3 col-sm-2 newsitem">
                    <div class="newsitem-caption">
                        <a href="{{ link.url }}" target="_blank">{{link.name}}</a>
                        <!--{{ link.description }}-->
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>