<!--- PUBLICATIONS -->
<section id="publications" class="{% cycle '', 'bg-light-gray' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    Recent Publications
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>
                    In Press / Published
                </h3>
                {% bibliography --file MyPapers --query @article --max 5 %}
            </div>
            <div class="col-lg-12">
                <h3>
                    Under Review
                </h3>
                {% bibliography --file MyPapers --query @unpublished --max 5 %}
            </div>
            <div class="col-lg-12">
                <h3>
                    Conference Presentations
                </h3>
                {% bibliography --file MyPapers --query @inproceedings --max 5 %}
            </div>
            <div>
                For a complete list, including workshop presentations and talks, please see <a href="/cv/" target="_blank"> my CV</a>.
                You can also visit my <a href="https://scholar.google.com/citations?user=6ifLBBsAAAAJ&hl=en" target="_blank">Google Scholar Profile</a>
                or my <a href="http://orcid.org/0000-0002-3428-2224" target="_blank">OrcID Profile</a>.
            </div>
        </div>
    </div>
</section>